.portalauth-warntext-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #dc3545;

}
.standalone-login-form {
    padding-top: 100px;
    margin: auto;
    width: 90%;
}

.login-form-standalone-submit-panel {
    padding-top: 100px;
}

.portalauth-loading-wr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portalauth-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portalauth-loading-text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.portalauth-component-container {
    color: #333333;
    position: relative;
    width: 100%;
}

@media (min-width: 576px) {
    .standalone-login-form {
        width:65%;
    }
}

@media (min-width: 768px) {
    .standalone-login-form {
        width:58%;
    }
}

@media (min-width: 992px) {
    .standalone-login-form {
        width: 48%;
    }
}

@media (min-width: 1200px) {
    .standalone-login-form {
        width: 36%;
    }
}

@media (min-width: 1400px) {
    .standalone-login-form {
        width: 36%;
    }
}