.em-search-find-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.em-search-title {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 20px;
}

.em-search-container {
    margin-bottom: 40px;
    display: flex;
}
.em-search-input {
    color: #000000;
    font-weight: 400;
    width: 80%;
    border: none;
    font-size: 16px;
}
.em-search-input:focus {
    outline: none !important;
}
.em-search-input-wr:focus-within {
    color: #212529;
    background-color: #fff;
    border-color: #1e8686;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(30 134 134 / 25%);
}

.em-search-input-wr {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.em-search-close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    cursor: pointer;
}
.em-search-wr {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.em-search-text {
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #269999;
    color: #269999;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.em-search-text:hover {
    background-color: rgba(30, 134, 134, 0.46);
}

@media (min-width: 576px) {
    .em-search-input {
        width: 85%;
    }
    .em-search-close-icon {
        width: 15%;
    }
}

@media (min-width: 768px) {
    .em-search-input {
        width: 95%;
    }
    .em-search-close-icon {
        width: 5%;
    }
}